*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f3f6fb;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.container{
width:1200px;
max-width:100%;
background:#fff;
display:flex;
border-radius:20px;
overflow:hidden;
box-shadow:0 10px 35px rgba(0,0,0,.15);
}

.left{
flex:1;
background:linear-gradient(rgba(10,45,90,.75),rgba(10,45,90,.75)),
url("../images/rgukt.jpg");
background-size:cover;
background-position:center;
padding:60px;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
}

.logo{
width:140px;
height:140px;
margin-bottom:30px;
border-radius:50%;
background:white;
padding:10px;
}

.left h1{
font-size:55px;
margin-bottom:10px;
}

.left h2{
font-size:30px;
margin-bottom:20px;
}

.left hr{
width:70%;
margin-bottom:25px;
}

.left p{
font-size:22px;
line-height:1.8;
}

.right{
flex:1;
padding:60px;
background:white;
}

.right h1{
text-align:center;
font-size:45px;
color:#0d2b73;
margin-bottom:10px;
}

.right>p{
text-align:center;
margin-bottom:40px;
color:#666;
}

label{
display:block;
font-weight:bold;
margin-bottom:10px;
margin-top:20px;
}

.input-box{
display:flex;
align-items:center;
border:1px solid #ddd;
border-radius:10px;
padding:14px;
margin-bottom:15px;
}

.input-box i{
color:#666;
font-size:18px;
}

.input-box input{
border:none;
outline:none;
width:100%;
padding-left:15px;
font-size:17px;
}

#togglePassword{
cursor:pointer;
}

.options{
display:flex;
justify-content:space-between;
align-items:center;
margin:20px 0;
font-size:15px;
}

.options a{
text-decoration:none;
color:#1565ff;
font-weight:bold;
}

.login-btn{
width:100%;
padding:15px;
background:#1565ff;
color:white;
border:none;
border-radius:10px;
font-size:20px;
cursor:pointer;
transition:.3s;
}

.login-btn:hover{
background:#0d47c5;
}

.or{
text-align:center;
margin:25px 0;
font-weight:bold;
color:#777;
}

.google-btn{
width:100%;
padding:15px;
background:white;
border:2px solid #1565ff;
border-radius:10px;
font-size:18px;
display:flex;
justify-content:center;
align-items:center;
gap:10px;
cursor:pointer;
}

.bottom{
margin-top:35px;
text-align:center;
}

.bottom a{
text-decoration:none;
color:#1565ff;
font-weight:bold;
}

footer{
margin-top:20px;
color:#666;
font-size:15px;
}

@media(max-width:900px){

.container{
flex-direction:column;
}

.left{
padding:40px;
text-align:center;
}

.logo{
margin:auto auto 20px;
}

.left hr{
margin:auto;
margin-top:20px;
margin-bottom:20px;
}

.right{
padding:35px;
}

.left h1{
font-size:40px;
}

.right h1{
font-size:35px;
}

}
